<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Your Post</title>
    <link rel="stylesheet" href="/edit.css" />
  </head>
  <body>
    <div class="container">
      <div class="post">
        <h3 class="post-id">Post id : <%= post.id %></h3>
        <h3 class="post-username">Username : <%= post.username %></h3>
        <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
          <textarea rows="5" cols="45" name="content" id="content"><%= post.content %></textarea><br />
          <button class="submit">Update</button>
        </form>
      </div>
    </div>
  </body>
</html>
