<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts Detail</title>
  </head>
  <body>
    <div class="container">
      <h1>Quora</h1>
      <div class="post">
        <% for( post of posts ) { %>
        <h3>Id : <%= post.id %></h3>
        <h3>Username: <%= post.username %></h3>
        <p>Content : <%= post.content %></p>
        <% } %>
      </div>
    </div>
  </body>
</html>
