 .card{

    width: 325px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    

    
}
h2{
    color: brown;
}
span{
    color: chocolate;
}
h3{
    padding: 10px;
}

p{
    text-align: left;
    padding: 10px;
}


img { height: 150px;
    width: 300px;
    border-radius: 10px;
    margin: 10px 20px 5px 10px;
    
} 

#pets{

   background-color: white;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    
}