
h3{
    color: black;
}
p{
    color: #964B00;
    color: red;
    line-height: 30px;
}
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color: rgb(29, 203, 29);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #000000;
}
span{
    text-decoration:black underline;
}