*{
    font-family: 'Courier New';
}
h1{
    color: #1b74e4;
}

 /*class is used for login  and register button */
 
.userbtn{
    background-color: aqua;
}
#searchbtn{
    background-color: black;
    color: white
    ;
}
 /* Applying color a pargraph inside a div whose id is myId using id selector*/
 #myId{
    color: green;
 }
/* solving same problem using attribute method */
 div[id="myId"]{
    color: red
 }
 /*  USING DESCENDANT SELECTOR*/
 div p{
    color: green;
 }