*{
    font-family: 'Courier New';
}
h1{
    color: #1b74e4;
}

 /*class is used for login  and register button */
 
.userbtn{
    background-color: aqua;
}
#searchbtn{
    background-color: black;
    color: white
    ;
}