
/*To select all element also called universal selector*/
* {
    font-family: 'Times New Roman' ;
}

/*element selector*/
h1,h3{
    color:  #b92b27;
}

/* id selector*/
#login{
    background-color: white;
}
#signup{ 

    background-color:  #b92b27;
}
/* CLASS SELECTOR*/
.upvote{
    background-color: green;
    color: aliceblue;
}
.anchor a{
    color: purple;
    background-color: yellow;
}

/*DESCENDENT SELECTOR*/
nav a{
    color: rgb(10, 40, 232);
    
}
/* SIBLING COMBINATOR*/
p+h3{
    text-decoration: underline;
}
.upvote+button{
    color: blue;
    background-color: cornflowerblue;
    
}

/* CHILD COMBINATOR*/
div>input{
    background-color: darkgray;
    color: darksalmon;
}

/* ATTRIBUTE SELECTOR*/
/*   FOR SPECIFIC TYPE */
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: green;
}

/* FOR ANY TYPE */

input[type]{
    background-color: ghostwhite;
}

/*  PSEUDO CLASS- HOVER - but login button hover will not change as we have used #(id) and the specificty of id is ver high, hence unchanged  */
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: none;
}

/* Pseudo Active */
button:active{
    background-color: pink;
    color: black;
}
p:active{
    font-weight: bold;
    color: green;

}

/*  USING PEUDO CHECKED*/
input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}

/* NTH OF TYPE PSEUDO CODE*/
div:nth-of-type(2n+1){
    background-color: blanchedalmond;
}
/* Pseudo Classes*/
h1::first-letter{
    color: green;
}
#param::first-line{
    color: blue;
}
#param::selection{
    background-color: rgb(45, 132, 55);
}
