
/*To select all element also called universal selector*/
* {
    font-family: 'Times New Roman' ;
}

/*element selector*/
h1,h3{
    color:  #b92b27;
}

/* id selector*/
#login{
    background-color: white;
}
#signup{ 
    color: white;
    background-color:  #b92b27;
}
/* CLASS SELECTOR*/
.upvote{
    background-color: green;
    color: aliceblue;
}
.anchor a{
    color: purple;
    background-color: yellow;
}

/*DESCENDENT SELECTOR*/
nav a{
    color: rgb(10, 40, 232);
    
}
/* SIBLING COMBINATOR*/
p+h3{
    text-decoration: underline;
}
.upvote+button{
    color: blue;
    background-color: cornflowerblue;
    
}

/* CHILD COMBINATOR*/
div>input{
    background-color: darkgray;
    color: darksalmon;
}

/* ATTRIBUTE SELECTOR*/
/*   FOR SPECIFIC TYPE */
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: green;
}

/* FOR ANY TYPE */

input[type]{
    background-color: ghostwhite;
}

/*  PSEUDO CLASS- HOVER */
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: none;
}

