* {
    color: rgb(0, 0, 0) ;
    font-family:  ;
}
h1,h3{
    color:  #b92b27;
}
#login{
    background-color: white;
}
#signup{ 
    color: white;
    background-color:  #b92b27;
}
.upvote{
    background-color: green;
    color: aliceblue;
}
.anchor a{
    color: purple;
    background-color: yellow;
}
nav a{
    color: rgb(10, 40, 232);
    
}
