.loader{
    height: 200px;
    width: 200px;
    border: 20px solid #f3f3f3;
    border-top: 20px solid #0d7ce4;
    border-radius: 50%;
    margin:  20px auto;
    animation: spin 2s linear infinite;
    

}
h1{
    text-align: center;
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
} 