
/*  ALPHA CHANNEL FOR - color opacity  */
section{
    margin-top: 100px;
}
div{
    height: 200px;
    width: 200px;
    background-color: #4dff4d;
   margin-top: 10px;
   margin: 0 auto;
   transition: margin-top 2s ease-in-out 0.2s;
   transform: rotate(45deg);
   box-shadow: 10px 10px 5  px green;
}

/* TRANSITION  */
div:hover{
   margin-top: 300px;
   background-color: aqua;
}


/*  For Elements opacity  */
#opacity{
    background-color: #ffa511;
    opacity: 1;

}

