/* #box{
    width: 200px;
    height: 200px;
    background-color: crimson;
    position: absolute;
    animation: anime 8s 0.2s forwards ease-in-out  ;
    border-radius: 10%;
    top: 10px;
    
} */

/* #box1, #box2, #box3 {
    width: 200px;
    height: 200px;
   margin-bottom: 10px;
    border-radius: 10%;
}
#box1 {
    background-color: red;
    
}
#box2 {
    background-color: green;
    
}
#box3 {
    background-color: blue;
    
} */


/* @keyframes anime {
    0%{
        left: 10px;
        top: 10px;
        background-color: red;
        rotate: 0deg;
    }
    25%{
        left: 85%;
        top: 10px;
        background-color: green;
        rotate: 90deg;
    }
    50%{
        left: 85%;
        top: 70%;
        background-color: blue;
        rotate: 180deg;
    }
    75%{
        left: 10px;
        top: 70%;
        background-color: yellow;
        rotate : 270deg;
    }
    100%{
        left: 10px;
        top: 10px;
        background-color: crimson;
        rotate: 360deg;
    }
   
} */


/* FOR SCROLL TRIGGER */

#page1, #page2, #page3 {
    width: 100%;
    height: 100vh;
    
}
#page1 {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 {
    background-color: lightsalmon;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3 {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}


#box{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 10px;
    
    
}

