<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h2> <%= "Rahul Shaw".toUpperCase() %></h2>
    <h2> <%= ["Hello", "rahul", "Namaste"][2] %></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quam enim, officiis nam repellendus vel, odit quos, itaque eius voluptas explicabo quod animi unde officia facere! Exercitationem deleniti explicabo fugiat?</p>
    <button>Click me!</button>
</body>
</html>